@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

/* Main container styling */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 30%; 

  background: linear-gradient(135deg, #7f8385, #c4c4c4);
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect for main container */
.main-container:hover {
  background: linear-gradient(135deg, #c4c4c4, #7f8385);
  transition: background 0.3s ease;
}

/* General container styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styling for login, logout, and failed containers */
.login,
.logout,
.failed {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #0d1320, -3px -3px 10px #262f40;
  background-color: #e6e6fa;
}

/* Heading styling for login, logout, and failed */
.login h1,
.logout h1,
.failed h1 {
  font-family: "Comic Neue", cursive;
  font-size: 28px;
  color: #0d1320;
  margin-bottom: 20px;
  text-align: center;
}

/* Input styling for login */
.login input {
  box-sizing: border-box;
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #f5deb3;
  outline: 2px solid #ffa07a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-size: 16px;
}

/* Button styling for login, logout, and failed */
.login button,
.logout button,
.failed button {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ff4500;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hover effect for buttons */
.login button:hover,
.logout button:hover,
.failed button:hover {
  background-color: #d64161;
}

/* Styling for error messages */
.error-message {
  font-size: 18px;
  color: #0d1320;
  margin: 10px 0 15px;
  padding: 12px;
  font-family: "Comic Neue", cursive;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
