
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=EB+Garamond:wght@500&family=Josefin+Slab&family=Kanit:ital,wght@1,300&family=Lato&family=Montserrat&family=Raleway&display=swap');

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .login h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
  
  .login input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;  
  }
  
  .login button {
    padding: 10px 20px; 
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4c9cf5;
    color: white;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color: #3b7cca;
  }