

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .logout h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
  
  .logout input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;  
  }
  
  .logout button {
    padding: 10px 20px; 
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4c9cf5;
    color: white;
    cursor: pointer;
  }
  
  .logout button:hover {
    background-color: #3b7cca;
  }